body{
  font-family: DM Sans;
  width: 100vw;
}
.html{
  width: 100vw;
}


.wrapper{
  margin-left: 0;
  margin-right: 0;
  
 
}
.headerdiv{
  display: flex;
  min-height: 150px;
  width: 1300px;
  align-items: center;
  flex-wrap: wrap;
 
 
  
}
.africanodysseybutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 28.65px;
  font-family: DM sans;
  margin-left: 10px;
  margin-right: 30px;
}

.menudiv{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 2.5;
  
 
  font-family: DM Sans;
  font-size: 29px;
  font-weight: 400;
  margin-left: 20px;
}
.searchdiv{
  display: flex;
  flex: 1.5;
  align-items: center;
}
.signbutton{
  width: 160px;
  height: 70px;
  border-radius: 22.87px;
  margin-left: 120px;
  font-family: DM Sans;
  font-size: 29px;
  font-weight: 500;
  background-color: #3D4F63;
  color: white;
  border-width: 0px;
  display: flex;
  justify-items: center;
  padding-top: 15px;
  padding-left: 27px;
}
.homediv{
  display: flex;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 28.65px;
}

.africanodysseydiv{
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
}
  
.odysseybutton{
  font-family: DM Sans;
  font-weight: 700;
  font-size: 28.65px;
  background-color:  #3D4F63;
  color: white;
  border-width: 0px;
}
.cat{
  display: flex;
  width: 1300px;
  flex-wrap: wrap;
}
.car{
  display: flex;
}
.background1{
  background-image: url("landscape.jpg");
  height: 600px;
  justify-content: center;
  display: flex;
  position: relative;
}
.signbuttonn{
  display: flex;
  width: 120px;
  height: 65px;
  border-radius: 22.87px;
  justify-content: center;
  align-items: center;font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  background-color: #3D4F63;
  color: white;
  border-width: 0px;
  position: absolute;
  top: 97px;
  left: 980px;

}
 
.yo{
  height: 699px;
  
 
}
.searchbar{
  height: 100px;
  margin-top: 80px;
  width: 900px;
  border-radius: 15px;
  border: none;
}
::placeholder{
  font-size: 31px;
}
.searchbar:focus{
  outline: none;
  font-size: 31px;
}
.emailbar:focus{
  outline: none;
  font-size: 25px;
}
.blueline{
  background-color: #506F88;
  height: 12px;
  
}
.background11{
  background-image: url("background11,1.jpg");
  
  justify-content: center;
  height: 2100px;
  
}
.topword{
  font-family: Sora;
  font-size: 41px;
  font-weight: 700;
  display: flex;
  margin-top: 0px;
}
.yoo{
  height: 500px;
  margin-left: 90px; 
  padding-top: 110px;
}
.experiencediv{
  height: 412px;
  display: flex;
  margin-bottom: 170px;
  
}
.experiencedivs{
  height: 425px;
  width: 275px;
  border-width: 1px;
  background-color: white;
  border-color: grey;
  position: relative;  
  margin-right: 20px;
  display: flex;
  border: none;
}
.imgdivbutton{
  background-color: #3D4F63;
  position: absolute;
  color: white;
  height: 47.42708206176758px;
  width: 157px;
  left: 22px;
  top: 141px;
  border-radius: 6.541666507720947px;
  border: none;
}
.col{
  color: rgb(201, 201, 11);
}
.words{
  margin-top: 50px;
  margin-left: 20px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
}
.hours{
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 35px;
}
.yellowstar{
  color: yellow;
  margin-left: 18px;
  margin-bottom: 8px;
  font-size: 25px;
}
.review{
  font-family: DM Sans;
  font-size: 21.68px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 10px;
}
.experiencedivimg{
  height: 172px;
  display: flex;
  
}
.imtired{
  
  white-space: nowrap;
  font-family: Sora;
  font-size: 41px;
  font-weight: 700;
  margin-top: 85px;
  width: 1190px;
  margin-left: 70px;
  background-color: bue;
}
.swipe{
  margin-top: 0px;
  margin-left: 175px;
  font-family: DM Sans;
  font-size: 30px;
  font-weight: 500;


}
.explorediv{
  display: flex;
  margin-top: 30px;
  
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 1200px;

}
.exploredivs{
  display: flex;
  position: relative;
  margin-right: 20px;
  border-radius: 25px;
}
.exploredivimg{
  width: 280px;
  height: 280px;
  border-radius: 25px;
}
.exploreimgdivbutton{
  bottom: 30px;
  left: 25px;
  position: absolute;
  font-family: Sora;
  font-size: 34px;
  font-weight: 700;
  color: white;
}
.explorediv::-webkit-scrollbar{
  display: none;
}
.wordsdiv{
  display: flex;
  margin-left: 90px;
  width: 1190px;
  margin-top: 110px;
  white-space: nowrap;
  font-family: DM Sans;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 0px;
 
  
}
.space{
  margin-right: 90px;
  width: px;
}
.auth{
  font-family: Sora;
  font-size: 26px;
  font-weight: 700;
}
.swipe2{
  margin-top: 0px;
  margin-left: 420px;
  font-family: DM Sans;
  font-size: 30px;
  font-weight: 500;
}
.penimage{
  margin-left: 70px;
}
.sora{
  font-family: Sora;
  font-size: 41px;
  font-weight: 700;

}
.eightthdiv{
  height: 458px;
  background-color: #7DB9DD4D;
  display: flex;
  margin-left: 70px;
  margin-top: 80px;
  width: 1250px;
  flex-wrap: wrap;
}
.snipped{
  height: 458px;
  width: 530px;
}

.emailwords{
  
  width: 625px;
}
.emailbox{
  margin-top: 100px;
  margin-left: 65px;
  width: 600px;
  display: flex;
}
.emailbar{
  height: 108px;
  width: 500px;
  border-radius: 22.8700008392334px;
  display: flex;
  font-family: DM Sans;
  font-size: 29px;
  font-weight: 500;
  border: none;
}

.signbuttons{
  width: 160px;
  height: 70px;
  border-radius: 22.87px;
  font-family: DM Sans;
  font-size: 29px;
  font-weight: 500;
  background-color: #3D4F63;
  color: white;
  border-width: 0px;
  margin-left: 20px; 
  margin-top: 20px;
  margin-bottom: 90px;
  padding: 2px;

}
.yjor{
  font-family: Sora;
  font-size: 36px;
  font-weight: 700;
  margin-left: 37px;
}
.trt{
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 37px;

}
.emailbar::placeholder{
  padding-left: 20px;
  padding: bottom 50px;
}
.number{
  height: 66px;
  width: 66px;
  background-color: black;
  color: white;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
  

}
.place1{
  height: 66px;
  width: 386px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place2{
  height: 66px;
  width: 305px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place3{
  height: 66px;
  width: 266px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place4{
  height: 66px;
  width: 242px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place5{
  height: 66px;
  width: 265px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place6{
  height: 66px;
  width: 303px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place7{
  height: 66px;
  width: 335px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place8{
  height: 66px;
  width: 270px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.place9{
  height: 66px;
  width: 305px;
  border-color: #506F88;
  margin-right: 17px;
  margin-bottom: 25px;
  font-family: Sora;
  font-size: 29px;
  font-weight: 700;
}
.whitelove{
  top: 0px;
}

.ninthdiv{
 
  margin-left: 75px;
  margin-top: 75px;
  flex-wrap: wrap;
  display: flex;

}
.toppword{
  margin-left: 0px;
  font-family: Sora;
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 60px;
}
.tendiv{
  display: flex;
  flex-direction: row;
  background-color: #506F88;
  color: white;
  margin-top: 50px;
  
}
.one{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 100px;
  
}
.two{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 26px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: px;
  text-align: left;
}
.three{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 26px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
}
.four{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
  margin-top: 26px;

}
select{
  background-color: white;
  color: #506F88;
  font-family: Sora;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  height: 81px;
  width: 393px;
}
.head{
  font-family: Sora;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}
.height{
  line-height: 65px;
  width: 218px;
}
.size{
  height: 44px;
  width: 44px;
  
}
.sizet{
  height: 35px;
  width: 43.313072204589844px;


}

.five{
  padding-top: 50px;
  display: flex;
  background-color: #506F88;
  padding-left: px;
  font-family: Sora;
  font-size: 26px;
  font-weight: 700;
  color: white;
  padding-bottom: 40px;
  align-items: center;
 

  
}
.sizes{
  background-color: #506F88;
  border: none;
  margin-right: 30px;
}
.cwidth{
  margin-right: 200px;
  margin-left: 40px;
}
.selector{
  padding-right: 190px;
}
.homediv:hover{
  text-decoration: underline;
  text-decoration-color: #3D4F63;
  text-decoration-thickness: 8px;
}
.signbutton:hover{
  opacity: 0.8;
}
.signbuttons:hover{
  opacity: 0.8;
}
.signbuttons:active{
  opacity:0.5;
}
.signbutton:active{
  opacity:0.5;
}
.searchbutton:hover{
  opacity: 0.8;
}
.searchbutton:active{
  opacity:0.5;
}
.sizes:hover{
  border-bottom:black;
}